/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */
@font-face {
  font-family: "PTSansNarrowBold";
  src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PFCentroSlabProMedium";
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff")
      format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold/ralewaybold.eot");
  src: url("../fonts/RalewayBold/ralewaybold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/RalewayBold/ralewaybold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/RalewayRegular/ralewayregular.eot");
  src: url("../fonts/RalewayRegular/ralewayregular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/RalewayRegular/ralewayregular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold/ralewaysemibold.eot");
  src: url("../fonts/RalewaySemiBold/ralewaysemibold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/RalewaySemiBold/ralewaysemibold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/RobotoBold/RobotoBold.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
